/* Homepage CSS Starts */

/* <!--Navigation-Bar Starts--> */
#top
{
    border: none;
    border-radius: 0px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: #000000;
}
#website-name{
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    color: white;
}
#myNavbar{
    font-size: 18px;
    /* font-family: 'Cabin', sans-serif; */
}
#myNavbar ul li :hover{
    border-bottom: 1px solid yellow;
}
.navbar{
    padding: 0px;
}
/* <!--Navigation-Bar Ends--> */

/* <!--Main Container Starts--> */
.main-container{
    height: 75vh;
    background: -webkit-gradient(linear,left top,left bottom, from(rgba(35,66,151,.6)), to(rgba(209,13,13,.692))), url('../Wissen/Images/background-cover3.jpg');
    background: linear-gradient(180deg,rgba(35,66,151,.6),rgba(209,13,13,.692)), url('./Images/background-cover3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    margin-top: 6vh;
}
#container-one{
    height: 75vh;
}
#container-two{
    height: 75vh;
    padding: 50px; 
}
.container-quote{
    border: 10px solid rgb(38, 157, 248);;
    color: black;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    margin: 20%;
    padding: 10px 30px;
    background-color: rgb(38, 157, 248);
    font-family: 'Poppins', sans-serif;
}
/* <!--Main Container Ends--> */

/* <!--Our Services Ends--> */
/* .services-main{
    height: 35vh;
    margin: 0px;
    background-color: #1a1a3f;
} */
#services-one{
    height: 40vh;
    background-color: #1a1a3f;
}
#services-two{
    height: 40vh;
    background-color: #1a1a3f;
}
.services-logo{
    font-size: 16rem;
    color: #fff;
    margin-top: 10%;
    text-align: center;
}
.services-desc{
    color: #fff;
    margin-top: 8%;
    font-size: 40px;
    font-family: 'Cabin', sans-serif;
}
.services-desc h1{
    letter-spacing: 2px;
}
.services-desc h4{
    color: #C3C3F0;
    font-family: 'Noticia Text', serif;
    letter-spacing: 1px;
}
#services-btn{
    background-color: green;
    color: black;
    border: none;
}
/* <!--Our Services Ends--> */

/* <!--Our Expertise Ends--> */
#expertise-one{
    margin: 3% 0%;
}
.expertise-head{
    text-align: center;
}
.expertise-head h2{
    color: #1d2738;
    font-family: Khula,sans-serif;
    font-size: 34px;
    font-weight: bolder;
} 
.expertise-head h6{
    font-size: 18px;
    color: #676767;
    font-family: 'Noticia Text', serif;
}
#expertise-two{
    margin-bottom: 5%;
}
#expertise-logo{
    text-align: center;
    font-size: 60px;
    color: #000;
    margin-bottom: 20px;
}
#expertise-desc{
    text-align: center;
}
#expertise-heading{
    color: #1d2738;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: Khula,sans-serif;
}
#expertise-subheading{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #676767;
    font-family: 'Noticia Text', serif;
}
/* <!--Our Expertise Ends--> */

/* <!--Registration Steps Starts--> */
#single-container{
    height: 70vh;
    margin: 2% 0%;
}
#registration-head h1{
    font-size: 42px;
    font-family: Khula,sans-serif;
    color: #1d2738;
    text-align: center;
    margin-top: 5%;
}
#steps-name h1{
    font-size: 48px;
    font-family: 'Cabin', sans-serif;
    color: #3cb371;
}
#steps-desc{
    font-size: 26px;
    color: #212529;
    font-family: 'Cabin', sans-serif;
    margin-top: 5%;
}
#registration-left{
    height: 70vh;
    padding: 3% 5%;
}
#registration-right{
    height: 70vh;
}
#registration-right img{
    width: 80%;
}
/* <!--Registration Steps Starts--> */

/* Counter Starts */
#counter-container{
    background-color: #000000;
    padding: 0px;
}
#containers{
    text-align: center;
    margin: 5% 0%;
}
/* Counter Ends */

/* Feedback Starts */
.feedback-desc{
    margin: 25% 10%;
    border-right: 5px solid brown;
}
.feedback-desc h1{
    line-height: 1.4;
    font-size: 58px;
    color: #212529;
    font-family: Khula,sans-serif;
}
#myCarousel{
    margin: 25% 5%;
}
#feed-form{
    margin: 10% 15%;
    padding: 30px;
    background-color: #0e8ce7;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
}
/* Feedback Ends */

/* Footer Starts */
#footer-info h3{
    color: rgb(196, 235, 21);
    font-family: Khula,sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
}
#footer-info{
    color: #888;
    line-height: 2;
    letter-spacing: 1px;
}
#footer-link h4{
    color: rgb(196, 235, 21);
    font-family: Khula,sans-serif;
    letter-spacing: 1px;
}
#footer-links{
    color: #888;
}
#footer-links li{
    list-style-type: none;
    line-height: 2;
    letter-spacing: 1px;
}
/* Footer Ends */

/* Last Footer Starts */
#footer-icons{
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
#footer-ask{
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
#button-one{
    border: 1px solid #888;
    color: #888;
    background-color: #000;
    padding: 5px 12px;
    border-radius: 500px;
    font-size: 1.5rem;
    outline: none;
}
#button-one:hover{
    border: 1px solid #000;
    background-color: rgb(110, 80, 219);
    color: white;
}
/* Last Footer Ends */

/* Homepage CSS Starts */



/* Contact Us Page CSS Starts */

/* Contact Container Starts */
.contact-container{
    height: 94vh;
    background: -webkit-gradient(linear,left top,left bottom, from(rgba(59, 60, 61, 0.6)), to(rgba(77, 72, 72, 0.6))), url('./Images/contactus1.jpg');
    background: linear-gradient(180deg,rgba(59, 60, 61, 0.6),rgba(77, 72, 72, 0.6)), url('./Images/contactus1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    margin-top: 6vh;
}
.contact-quote{
    border: 10px solid black;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    margin: 35% 20%;
    padding: 10px 30px;
    background-color: black;
}
#contact-form{
    margin: 20% 25%;
    padding: 30px;
    background-color: #0e8ce7;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
}
form input, textarea{
    border-radius: 2px;
    width: 100%;
    padding: 5px 10px;
    border: none;
    color: black;
}
/* Contact Container Starts */

/* Contact Ways Starts */
.contact-ways{
    margin: 50px;
    height: 34vh;
}
#contact-logo{
    text-align: center;
    font-size: 80px;
    color: orangered;
}
#contact-desc{
    text-align: center;
    padding: 0px 60px;
}
/* Contact Ways Ends */

/* Contact Us Page CSS Ends */


/* Events Page CSS Starts */

/* Event Container Starts */
header{
    background: url('./Images/header-cover.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
header::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url('./Images/wave-bottom.svg');
    height: 275px;
}
.header-content{
    z-index: 1;
    position: relative;
    font-family: tahoma;
}
.header-content h1{
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
}
.header-content p{
    font-size: 20px;
    margin: 20px 0 25px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: capitalize;
}
.theme-btn{
    border-radius: 50px;
    background: white;
    padding: 15px 30px;
    min-width: 170px;
    border: 2px solid white;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 13px;
    display: inline-block;
    text-align: center;
    margin-right: 12px;
    transition: all 0.2s ease-in;
    font-weight: bold;
}
.theme-btn:hover{
    text-decoration: none;
    background-color: black;;
    color: white;
    border: 2px solid black;
}

/* Event Container Ends */

/* Counter Starts */
.main_counter{
    display: flex;
    align-items: center;
    margin: 0px 10%;
    position: absolute;
    bottom: 40px;
    z-index:900;
    font-family: 'Poppins', sans-serif;
}
.counter
{
    width:160px;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.25);
    font-size: 3rem;
    border-radius: 10px;
    color:white;
}
.counter:hover{
    color: black;
}
/* Counter Ends */

/* All Events Starts */
.events-container{
    background: linear-gradient(to top left, #2986a5,#0d6697,#00879a,#00776b);
    height: auto;
    padding: 50px 80px;
    margin-top: 50px;
}
.event-header{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#events-main{
    padding: 10px;
    color: #133E54;
    background-color: white;
    border-radius: 5px;
    margin: 50px;
    transition:all 0.3s ease;
}
#events-main:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(0.95);
}
.event-more p{
    display: inline-block;
}
/* All Events Ends */

/* Our Sponsors Starts */
.sponsors-container{
    padding: 50px;
    height: 20vh;
}
/* Our Sponsors Ends */

/* Modal CSS Starts */
.modal{ 
	display: block;
}

/* Modal Header */

.dialog-header-error{ 
	background-color: cadetblue;
	color: white; 
}

/* Modal Width */
.modal-dialog{
	width: 1250px;
	margin: 50px auto;
}
#modal-left{
	padding: 20px 40px;
}
#modal-right-one{
	padding: 20px;
	background-color: aliceblue;
}
#modal-right-two{
	margin-top: 5px;
	padding: 20px;
	background-color: blanchedalmond;
}
hr{
	border-top: 1px solid #133e54;
}
button{
	display: inline;
}
/* Modal CSS Ends */

/* Events Page CSS Ends */