* {
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, div, span,h1, h2, h3, h4, h5, h6, p {
	border: 0;
	margin: 0;
}
body {
	overflow: hidden;
}
/* .navbar {
	position: fixed;
	z-index: 9999;
	background-color: #333;
	text-align: right;
	padding: 1em 0em;
	margin:0;
	border: 0;
	width: 100%;
} */

.chatbox {
	width: 500px;
	min-width: 390px;
	height: 600px;
	background: #fff;
	padding: 25px;
	margin: 5%;
	margin-top: 150px;
	box-shadow: 0 3px #ccc;
	position: relative;
	z-index: 99;
	border-radius: 5px;
}

.chatlogs {
	margin-top:50px;
	padding: 10px;
	width: 100%;
	height: 450px;
	max-height: 450px;
	overflow: auto;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}


.chat .user-photo {
	width: 60px;
	height: 60px;
	background:url("bg9.jpg");
	border-radius: 50%;
}
.chat .user-photo1 {
	width: 60px;
	height: 60px;
	background: url("bg7.jpg");
	border-radius: 50%;
}

.chat .chat-message {
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
}

.friend .chat-message {
	background: teal;
}

.self .chat-message {
	background: green;
	order: -1;
}

.ajaxForm {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}

.ajaxForm #chatInput {
	background: #fbfbfb;
	width: 75%;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 14px;
	color: #333;
	overflow-y:scroll;
	overflow-x: hidden;
	word-wrap:break-word;
}

.ajaxForm #chatinput:focus {
	background: #fff;
}

.ajaxForm #btnSend {
	background: teal;
	padding:0 20px;
	font-size: 35px;
	color: #fff;
	border: none;
	margin: 0 10px;
	border-radius: 3px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;

	-webkit-transaction: background .2s ease;
	-moz-transaction: backgroud .2s ease;
	-o-transaction: backgroud .2s ease;
}

.ajaxForm #btnSend:hover {
	background: #13c8d9;
}

.ajaxForm #btnSend:active{
	box-shadow:0 0px 0 #0eb2c1;
	transform: translateY(3px);
}



.signup-form{
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
}
form input, textarea{
    border-radius: 2px;
    width: 100%;
    padding: 5px 10px;
    border: none;
    color: black;
}
#inside-sign-container{
    border-radius: 20px;
    background: -webkit-gradient(linear,left top,left bottom, from(rgba(35,66,151,.6)), to(rgba(209,13,13,.692)));
    background: linear-gradient(90deg,rgba(209,13,13,.692),rgba(35,66,151,.7));
    margin-top: 150px;
    padding: 20px;
}
.sign-image{
    height: 400px;
}

#inside-login-container{
    background-color: #4285F4;
    padding: 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 50px -12px;

}
.login-container{
    text-align: center;
    background-color: rgb(49, 109, 206);
    padding: 10px;
    color: white;
}
.form-container{
    padding: 30px;
    color: white;    
}
.chatapp-body{
    background: url('backg4.jpg');
}